*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #c2aaaa;
}

.links{
    padding: 7px;
    border: none;
    border-radius: 8px;
    background-color: #206b57;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0,0 ,0.5);
    margin-left: 5px;
}

.links:hover{
  opacity: 0.5;
}